﻿<div class="text-center">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Smith Swimming School</h1>
            <p class="lead">

                Situada en el corazón de Madrid, la Escuela de Natación Smith (3S) 
                fusiona una rica historia con un enfoque moderno, ofreciendo un ambiente 
                inclusivo para niños y adultos.  Únete a nosotros para
                sumergirte en una experiencia acuática única en la Escuela de Natación
                Smith.
            </p>
        </div>
        <div class="container">
            <img src="~/images/np110918_piscina-900x501.jpg" />

        </div>
    </div>
</div>