@{
    ViewData["Title"] = "3S - Ofertas e Instalaciones";
}

<h1>@ViewData["Title"]</h1>

<h2>Ofertas</h2>
<p>Aquí puedes encontrar nuestras últimas ofertas:</p>
<ul>
    <li>Oferta 1: Descuento del 20% en clases de natación para nuevos alumnos.</li>
    <li>Oferta 2: 2x1 en inscripción para clases de buceo.</li>
    <li>Oferta 3: Descuento del 30% en clases de water polo para grupos.</li>
</ul>

<h2>Instalaciones</h2>
<p>Te invitamos a conocer nuestras instalaciones:</p>
<ul>
    <li>Piscina olímpica cubierta.</li>
    <li>Piscina recreativa para niños.</li>
    <li>Zona de spa y relajación.</li>
    <li>Gimnasio totalmente equipado.</li>
    <li>Sala de clases grupales para actividades como yoga, pilates y más.</li>
</ul>
